@import './../resource/markdown.less';
.cardBox {
    padding: 15px 0;
}

.selected-label {
    font-size: 14px;
    color: #a09999;
}

.item-label {
    padding: 0 2px;
}

.select-button {
    padding: 5px 0;
}