@import '../../../assets/sass/theme/theme_variables';
.cherry-ui-blockmenu {
    border: 0 none;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    .cherry-ui-blockmenu-nav {
        padding: 0;
        margin: 0;
        border-radius: 0;
        a {
            padding: 0.5em 1em;
        }
        .cherry-ui-blockmenuitem {
            margin: 0;
            position: static;
            -moz-transition: background-color 0.3s;
            -o-transition: background-color 0.3s;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            list-style: none;
            float: left;
            position: relative;
            padding: 0;
            white-space: nowrap;
            display: block;
            border-bottom: 0;
            height: 70px;
            color: #fff;
            a {
                float: left;
                padding: 0.5em 1em;
                text-decoration: none;
            }
            .cherry-ui-blockmenuitem-state-active {
                color: #ffffff;
            }
            .cherry-ui-menuitem-link {
                color: #2d353c;
                height: 70px;
                display: flex;
                align-items: center;
                .cherry-ui-menuitem-icon{
                    padding: 5px;
                }
                .cherry-ui-menuitem-icon,
                .cherry-ui-menuitem-text {
                    vertical-align: middle;
                    display: inline-block;
                    color: #fff;
                    font-size: 14px;
                    opacity: 0.9;
                }
            }
        }
    }
}

.cherry-ui-flexiblemenubaritem {
    height: 70px;
}

.flexiblemenubar-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flexiblemenubar-allitem {
    font-size: 14px;
}

.flexiblemenubar-item {
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
}

.cherry-ui-flexiblemenubar li:hover ul {
    animation: menuopacity 0.5s;
    -moz-animation: menuopacity 0.5s;
    /* Firefox */
    -webkit-animation: menuopacity 0.5s;
    /* Safari 和 Chrome */
    -o-animation: menuopacity 0.5s;
}

.cherry-ui-flexibelmenu-box {
    display: flex;
}

@keyframes menuopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes menuopacity
/* Firefox */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes menuopacity
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes menuopacity
/* Opera */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.cherry-ui-menu {
    padding: 0;
    .cherry-ui-shadow {
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }
    .cherry-ui-menu-list {
        .cherry-ui-menu-child {
            padding: 0;
            .cherry-ui-shadow {
                -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.cherry-ui-flexiblemenubar-rootitem {
    height: 70px;
}

.cherry-ui-menuitem-active>.cherry-ui-menuitem-link {
    color: #ffffff;
}

.cherry-ui-menuitem-link {
    padding: 0.5em 0.75em;
    width: 100%;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #525252;
}

.cherry-ui-menuitem-link:hover {
    color: #ffffff;
}

.cherry-ui-submenu-icon {
    margin-top: 0.2em;
}

.cherry-ui-menuitem {
    margin: 0;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.cherry-ui-flexiblemenubaritem-spans {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
}

.cherry-ui-flexiblemenubaritem-text {
    font-size: 14px;
}

.cherry-ui-flexiblemenubar-state-active {
    color: #fff;
    border-radius: 0.25em;
}

.cherry-ui-menuitem-show {
    ul {
        display: block;
    }
}

.cherry-ui-flexiblemenubar-root-list li:hover ul {
    animation: menuopacity 0.5s;
    -moz-animation: menuopacity 0.5s;
    -webkit-animation: menuopacity 0.5s;
    -o-animation: menuopacity 0.5s;
}

.cherry-ui-flexiblemenubar-item:hover {
    border-radius: 4px;
}

.cherry-ui-flexiblemenusub-head {
    width: 350px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 0;
    .cherry-ui-flexiblemenusub-head-spans {
        margin-left: 120px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .cherry-ui-flexiblemenusub-head-icon {
            font-size: 20px;
            color: $mainMenuActiveColor;
        }
        .cherry-ui-flexiblemenusub-head-text {
            font-size: 20px;
            color: $mainMenuActiveColor;
            padding-left: 0.25em;
        }
    }
}

@keyframes menuopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes menuopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes menuopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes menuopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cherry-ui-menuitem-active>.cherry-ui-menuitem-link {
    background-color: $headerBgActiveColor;
}
.cherry-ui-menuitem-link:hover {
    background-color: $headerBgActiveColor;
}
.cherry-ui-flexiblemenubar-state-active {
    background-color: $headerBgActiveColor;
}

.cherry-ui-blockmenu {
    .cherry-ui-blockmenu-nav {
        .cherry-ui-blockmenuitem:not(.cherry-ui-state-active):hover {
            background-color: $headerBgActiveColor;
        }
    }
}
.cherry-ui-blockmenuitem-state-active {
    background-color: $headerBgActiveColor;
}
