
    <div cherry-row class="passwordBox">
        <div class="contentBox">
            <cherry-input-group [uiLine]="true" [uiLabel]="'用户名'" [uiLabelType]="'flex'" [uiClear]="true">
                <input cherry-input type="text" >
            </cherry-input-group>
        </div>
    </div>
    <div cherry-row class="passwordBox">

        <div class="contentBox">
            <cherry-input-group [uiLine]="true" [uiLabel]="'原密码'" [uiLabelType]="'flex'" [uiClear]="true">
                <input cherry-input type="password">
            </cherry-input-group>
        </div>

    </div>
    <div cherry-row class="passwordBox">

        <div class="contentBox">
            <cherry-input-group [uiLine]="true" [uiLabel]="'新密码'" [uiLabelType]="'flex'" [uiClear]="true">
                <input cherry-input type="password">
            </cherry-input-group>
        </div>

    </div>
    <div cherry-row class="passwordBox">

        <div class="contentBox">
            <cherry-input-group [uiLine]="true" [uiLabel]="'确认密码'" [uiLabelType]="'flex'" [uiClear]="true">
                <input cherry-input type="password">
            </cherry-input-group>
        </div>
    </div>

