<section class="markdown">
    <p>标签组件拥有选项卡切换的功能</p>
    <h2>引入</h2>
    <cherry-code>import &#123;TabModule&#125; from '~/cherry-ui;</cherry-code>

    <h2>基础用法</h2>
    <p>tab的标准用法，默认线性tab</p>
    <div class="cardBox">
        <cherry-card>
            <div cherry-row [uiGutter]="16" class="demorow">
                <cherry-tabset>
                    <cherry-tab *ngFor="let tab of tabs" [uiDisabled]="tab.disabled">
                        <ng-template #uiTabHeading>
                            {{tab.name}}
                        </ng-template>
                        <span>{{tab.content}}</span>
                    </cherry-tab>
                </cherry-tabset>
            </div>
        </cherry-card>
    </div>
    <cherry-code [language]="html">
&lt;cherry-tabset&gt;
    &lt;cherry-tab *ngFor="let tab of tabs" [uiDisabled]="tab.disabled"&gt;
        &lt;ng-template #uiTabHeading&gt;
            &#123;tab.name&#125;
        &lt;/ng-template&gt;
        &lt;span&gt;&#123;tab.content&#125;&lt;/span&gt;
    &lt;/cherry-tab&gt;
&lt;/cherry-tabset&gt;
    </cherry-code>
    <cherry-code [language]="typescript">
tabs = [
    &#123;
        name: 'Tab 1',
        content: '这是Tab1的内容'
    &#125;,
    &#123;
        name: 'Tab 2',
        content: '这是Tab2的内容'
    &#125;,
    &#123;
        name: 'Tab 3',
        content: '这是Tab3的内容'
    &#125;,
    &#123;
        name: 'Tab 4',
        content: '禁用',
    &#125;
    ];
                </cherry-code>
    <h2>图标</h2>
    <p>可以在tab标题中加入图标</p>
    <div class="cardBox">
        <cherry-card>
            <div cherry-row [uiGutter]="16" class="demorow">
                <cherry-tabset>
                    <cherry-tab *ngFor="let tab of tabs2" [uiDisabled]="tab.disabled">
                        <ng-template #uiTabHeading>
                            <i [ngClass]="tab.icon"></i>
                            {{tab.name}}
                        </ng-template>
                        <span>{{tab.content}}</span>
                    </cherry-tab>
                </cherry-tabset>
            </div>
        </cherry-card>
    </div>
    <cherry-code [language]="html">
&lt;cherry-tabset&gt;
    &lt;cherry-tab *ngFor="let tab of tabs" [uiDisabled]="tab.disabled"&gt;
        &lt;ng-template #uiTabHeading&gt;
            &lt;i [ngClass]="tab.icon"&gt;&lt;/i&gt;
            &#123;tab.name&#125;
        &lt;/ng-template&gt;
        &lt;span&gt;&#123;tab.content&#125;&lt;/span&gt;
    &lt;/cherry-tab&gt;
&lt;/cherry-tabset&gt;
    </cherry-code>
    <cherry-code [language]="typescript">
tabs = [
    &#123;
        name: 'Tab 1',
        content: '这是Tab1的内容'，
        icon: 'fa fa-lemon-o'
    &#125;
    ...
    ];
    </cherry-code>

    <h2>位置</h2>
    <p>通过uiTabPosition来设置tab的排列位置，左右位置则变为垂直排列</p>
    <div class="cardBox">
        <cherry-card>
            <div class="select-box">
                <cherry-select style="width: 120px;" [(ngModel)]="position" [uiPlaceHolder]="'choose position'">
                    <cherry-option *ngFor="let option of options" [uiLabel]="option.label" [uiValue]="option">
                    </cherry-option>
                </cherry-select>
            </div>
            <div cherry-row [uiGutter]="16" class="demorow">
                <cherry-tabset [uiTabPosition]="position.value">
                    <cherry-tab *ngFor="let tab of tabs">
                        <ng-template #uiTabHeading>
                            {{tab.name}}
                        </ng-template>
                        <span>{{tab.content}}</span>
                    </cherry-tab>
                </cherry-tabset>
            </div>
        </cherry-card>
    </div>
    <cherry-code [language]="html">
&lt;cherry-select style="width: 120px" [(ngModel)]="position"  [uiPlaceHolder]="'choose position'" &gt;
    &lt;cherry-option *ngFor="let option of options" [uiLabel]="option.label" [uiValue]="option" [uiDisabled]="option.disabled"&gt;
    &lt;/cherry-option&gt;
&lt;/cherry-select&gt;

&lt;cherry-tabset [uiTabPosition]="position.value"&gt;
    &lt;cherry-tab *ngFor="let tab of tabs" "&gt;
        &lt;ng-template #uiTabHeading&gt;
            &#123;tab.name&#125;
        &lt;/ng-template&gt;
        &lt;span&gt;&#123;tab.content&#125;&lt;/span&gt;
    &lt;/cherry-tab&gt;
&lt;/cherry-tabset&gt;
    </cherry-code>
    <cherry-code [language]="typescript">
    options = [
        &#123; value: 'top', label: '上' },
        &#123; value: 'left', label: '左' },
        &#123; value: 'right', label: '右' },
        &#123; value: 'bottom', label: '下' }
    ];

    position = this.options[0];
tabs = [
    &#123;
        name: 'Tab 1',
        content: '这是Tab1的内容'
    &#125;
    ...
    ];
    </cherry-code>

    <h2>滑动</h2>
    <p>通过uiShowPagination启用滑动开关，当tab项较多在容器内不能完全呈现时，可以通过滑动来查看其他tab</p>
    <div class="cardBox">
        <cherry-card>
            <div class="select-box">
                <cherry-select style="width: 120px;" [(ngModel)]="position2" [uiPlaceHolder]="'choose position'">
                    <cherry-option *ngFor="let option of options2" [uiLabel]="option.label" [uiValue]="option">
                    </cherry-option>
                </cherry-select>
            </div>
            <div cherry-row [uiGutter]="16" class="demorow">
                <cherry-tabset [uiTabPosition]="position2.value" [uiShowPagination]="true" style="height:200px">
                    <cherry-tab *ngFor="let tab of tabs4">
                        <ng-template #uiTabHeading>
                            {{tab.name}}
                        </ng-template>
                        <span>{{tab.content}}</span>
                    </cherry-tab>
                </cherry-tabset>
            </div>
        </cherry-card>
    </div>
    <cherry-code [language]="html">
&lt;cherry-select style="width: 120px" [(ngModel)]="position"  [uiPlaceHolder]="'choose position'" &gt;
    &lt;cherry-option *ngFor="let option of options" [uiLabel]="option.label" [uiValue]="option" [uiDisabled]="option.disabled"&gt;
    &lt;/cherry-option&gt;
&lt;/cherry-select&gt;

&lt;cherry-tabset [uiTabPosition]="position.value" [uiShowPagination]="true" style="height:200px"&gt;
    &lt;cherry-tab *ngFor="let tab of tabs" "&gt;
        &lt;ng-template #uiTabHeading&gt;
            &#123;tab.name&#125;
        &lt;/ng-template&gt;
        &lt;span&gt;&#123;tab.content&#125;&lt;/span&gt;
    &lt;/cherry-tab&gt;
&lt;/cherry-tabset&gt;
    </cherry-code>
    <cherry-code [language]="typescript">
    options = [
        &#123; value: 'top', label: '上' },
        &#123; value: 'left', label: '左' },
        &#123; value: 'right', label: '右' },
        &#123; value: 'bottom', label: '下' }
    ];

    position = this.options[0];
tabs = [
    &#123;
        name: 'Tab 1',
        content: '这是Tab1的内容'
    &#125;
    ...
    &#123;
        name: 'Tab 17',
        content: '这是Tab17的内容'
    &#125;
    ];
    </cherry-code>
    <h2>卡片风格</h2>
    <p>通过设置uiType为card 来使用卡片风格的tab</p>
    <div class="cardBox">
        <cherry-card>
            <div cherry-row [uiGutter]="16" class="demorow">
                <cherry-tabset [uiType]="'card'">
                    <cherry-tab *ngFor="let tab of tabs5">
                        <ng-template #uiTabHeading>
                            {{tab.name}}
                        </ng-template>
                        <span>{{tab.content}}</span>
                    </cherry-tab>
                </cherry-tabset>
            </div>
        </cherry-card>
    </div>
    <cherry-code [language]="html">
&lt;cherry-tabset [uiType]="'card'"&gt;
    &lt;cherry-tab *ngFor="let tab of tabs" "&gt;
        &lt;ng-template #uiTabHeading&gt;
            &#123;tab.name&#125;
        &lt;/ng-template&gt;
        &lt;span&gt;&#123;tab.content&#125;&lt;/span&gt;
    &lt;/cherry-tab&gt;
&lt;/cherry-tabset&gt;
    </cherry-code>
    <cherry-code [language]="typescript">
tabs = [
    &#123;
        name: 'Tab 1',
        content: '这是Tab1的内容'
    &#125;
    ...
    ];
    </cherry-code>
        <h2>API</h2>
    <h3>cherry-tabset</h3>
    <table>
            <thead>
              <tr>
                <th>参数</th>
                <th>说明</th>
                <th>类型</th>
                <th>默认值</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                <td>uiType</td>
                <td>tab的两种样式，线形和卡片式</td>
                <td>'line'|'card'</td>
                <td>-</td>
              </tr>
              <tr>
                <td>uiTabPosition</td>
                <td>tab位置,可选top,right,bottom,left</td>
                <td>String</td>
                <td>'top'</td>
              </tr>
              <tr>
                <td>uiShowPagination</td>
                <td>是否显示滑动按钮</td>
                <td>Boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>uiSelectedIndex</td>
                <td>当前激活的Tab Index，支持双向绑定</td>
                <td>Number</td>
                <td>0</td>
              </tr>
              <tr>
                <td>uiSelectedIndexChange</td>
                <td>当前激活的Tab Index回调</td>
                <td>Func</td>
                <td>-</td>
              </tr>
              <tr>
                <td>uiSelectChange</td>
                <td>当前激活的Tab与Index值回调</td>
                <td>Func</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        <h3>cherry-tab</h3>
            <table>
            <thead>
              <tr>
                <th>参数</th>
                <th>说明</th>
                <th>类型</th>
                <th>默认值</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                <td>#uiTabHeading</td>
                <td>tab的标题模版</td>
                <td>ng-template</td>
                <td>-</td>
              </tr>
              <tr>
                <td>uiDisabled</td>
                <td>tab禁用</td>
                <td>Boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>uiClick</td>
                <td>点击事件回调</td>
                <td>Fun</td>
                <td>-</td>
              </tr>
               <tr>
                <td>uiSelect</td>
                <td>被选中后事件回调</td>
                <td>Fun</td>
                <td>-</td>
              </tr>
                <tr>
                <td>uiDeselect</td>
                <td>不被选中事件回调</td>
                <td>Fun</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
</section>
