<div class="formBox">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
        <div cherry-row class="infoBox">
            <div class="contentBox">
                <cherry-alert *ngIf="formError" [uiType]="'error'" [uiMessage]="'用户名或密码错误请重试'" [uiShowIcon]="true">
                </cherry-alert>
                <cherry-alert *ngIf="formSuccess" [uiType]="'success'" [uiMessage]="'登陆成功'" [uiShowIcon]="true">
                </cherry-alert>
            </div>
        </div>
        <div cherry-row class="passwordBox">

            <div class="contentBox">
                <cherry-input-group [uiLine]="true" [uiType]="loginType" [uiLabel]="'用户名'" [uiLabelType]="'flex'" [uiClear]="true" (clearEvent)="clear()">
                    <input cherry-input type="text" [formControl]="passwordForm.get('username')" [(ngModel)]="username" required>
                </cherry-input-group>
            </div>

        </div>
        <div cherry-row class="passwordBox">

            <div class="contentBox">
                <cherry-input-group [uiLine]="true" [uiType]="loginType" [uiLabel]="'原密码'" [uiLabelType]="'flex'" [uiClear]="true" (clearEvent)="clear()">
                    <input cherry-input type="password" [formControl]="passwordForm.get('origin')" [(ngModel)]="origin" required>
                </cherry-input-group>
            </div>

        </div>
        <div cherry-row class="passwordBox">

            <div class="contentBox">
                <cherry-input-group [uiLine]="true" [uiLabel]="'新密码'" [uiLabelType]="'flex'" [uiClear]="true" (clearEvent)="clear()">
                    <input cherry-input type="password" [formControl]="passwordForm.get('new')" [(ngModel)]="new" required>
                </cherry-input-group>
            </div>

        </div>
        <div cherry-row class="passwordBox">

            <div class="contentBox">
                <cherry-input-group [uiLine]="true" [uiLabel]="'确认密码'" [uiLabelType]="'flex'" [uiClear]="true" [uiType]="confirmType" (clearEvent)="clear()">
                    <input cherry-input type="password" [formControl]="passwordForm.get('confirm')" [(ngModel)]="confirm" #confirmInput required>
                </cherry-input-group>
                <label class="cherry-ui-label-danger" *ngIf="passwordForm.get('confirm').hasError('notSame')">两次输入的密码不一致</label>
            </div>
        </div>

        <div cherry-row class="buttonBox">
            <div class="contentBox">
                <button cherry-button type="submit" [uiType]="'primary'" class="buttonStyle" [disabled]="submitDisabled">确定</button>
                <button cherry-button type="button" [uiOutlineType]="'primary'" class="buttonStyle cancelButton" (click)="cancel()">取消</button>
            </div>
        </div>

    </form>
</div>
