
<div class="cardBox">
    <cherry-card>
        <div cherry-row  [uiGutter]="16" class="demorow">
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'success'" [uiMessage]="'Success Tips'" [uiShowIcon]="true" >
                </cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'info'" [uiMessage]="'Informational Notes'" [uiShowIcon]="true">
                </cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'warning'" [uiMessage]="'Warning'" [uiShowIcon]="true">
                </cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'error'" [uiMessage]="'Error'" [uiShowIcon]="true">
                </cherry-alert>
            </div>
        </div>
    </cherry-card>
</div>

<div class="cardBox">
    <cherry-card>
        <div cherry-row  [uiGutter]="16" class="demorow">
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'info'" [uiMessage]="'Info Tips'"
                [uiDescription]="'Detailed description and advices about successful copywriting.'" [uiShowIcon]="true"></cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'warning'" [uiMessage]="'Warnings Tips'"
                [uiDescription]="'Detailed description and advices about successful copywriting.'" [uiShowIcon]="true"></cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6">
                <cherry-alert [uiType]="'error'" [uiMessage]="'Error Tips'"
                [uiDescription]="'Detailed description and advices about successful copywriting.'" [uiShowIcon]="true"></cherry-alert>
            </div>
            <div cherry-col [uiSpan]="6" >
            <cherry-alert [uiType]="'success'" [uiMessage]="'Success Tips'"
      [uiDescription]="'Detailed description and advices about successful copywriting.'" [uiShowIcon]="true"></cherry-alert>
      </div>
        </div>
    </cherry-card>
</div>
