.passwordBox{
    padding: 0px 15px;
    height: 70px;
}
.infoBox{
    height: 70px;
    padding: 0 15px;
}
.contentBox{
    position:relative;
    width: 264px;
}
.formTitle{
    text-align: center;
    color: #525252;
    margin: 20px 0 10px 0;
    font-size: 20px;
}
.formBox{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-top: 30px;
}

.buttonBox{
    padding: 20px 15px;
    .buttonStyle{
        width: 122px;
    }
    .cancelButton{
        float: right;
    }
}

