<div class="{{theme}}">
    <div class="cherry-ui-search">
        <span class="fa fa-search cherry-ui-search-icon" [ngClass]="{'cherry-ui-search-icon-active':inputFocus}"></span>
        <input type="text" (keyup)="keyInput(search_keyword)" (blur)="keyInputBlur()" placeholder="请输入关键字进行搜索" (focus)="keyInputFocus(search_keyword)" #searchInput class="form-control" class="cherry-ui-search-keyword-input" required [(ngModel)]="search_keyword"
            name="search_keyword" #name="ngModel">
        <div class="cherry-ui-search-line">
            <div class="cherry-ui-search-lineChild" [ngClass]="{'lineAnimate':inputFocus}" *ngIf="inputFocus"></div>
        </div>
        <div *ngIf="!notFound" [class]="styleClass" [ngStyle]="style" [ngClass]="'cherry-ui-searchmenu cherry-ui-widget'" class="cherry-ui-search-panel">
            <div *ngFor="let item of model;let f=first;let l=last;">
                <div [ngClass]="{'cherry-ui-widget cherry-ui-searchmenu-header cherry-ui-search-header cherry-ui-state-default':true,'cherry-ui-corner-top':f,
                'cherry-ui-corner-bottom':l&&!item.expanded,'cherry-ui-state-disabled':item.disabled}" [class]="item.styleClass" [ngStyle]="item.style">
                    <a *ngIf="!item.routerLink" [href]="item.url||'#'" [ngClass]="{'cherry-ui-searchmenu-headerlink-hasicon':item.icon}" (click)="handleClick($event,item)" [attr.target]="item.target" [attr.title]="item.title">
                        <span class="cherry-ui-search-expand-icon fa" [ngClass]="{'fa-file-text-o':!item.items,'fa-folder-open-o':item.items}"></span>
                        <span class="cherry-ui-menuitem-text" [innerHTML]="item.label|keyword:search_keyword">{{item.label}}</span>
                    </a>
                    <a *ngIf="item.routerLink" [routerLink]="item.routerLink" [ngClass]="{'cherry-ui-searchmenu-headerlink-hasicon':item.icon}" (click)="handleClick($event,item)" [attr.target]="item.target" [attr.title]="item.title">
                        <span class="cherry-ui-search-expand-icon fa" [ngClass]="{'fa-file-text-o':!item.items,'fa-folder-open-o':item.items}"></span>
                        <span class="cherry-ui-menuitem-text" [innerHTML]="item.label|keyword:search_keyword">{{item.label}}</span>
                    </a>
                </div>
                <div *ngIf="item.items" class="cherry-ui-searchmenu-content-wrapper" [@rootItem]="item.expanded ? 'visible' : 'hidden'" (@rootItem.done)="onToggleDone($event)" [ngClass]="{'cherry-ui-searchmenu-content-wrapper-overflown': !item.expanded||animating}">
                    <div class="cherry-ui-searchmenu-content cherry-ui-widget-content cherry-ui-accordionmenu-content" style="border:none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>