<div class="cardBox">
    <cherry-card>
        <div cherry-row [uiGutter]="16" class="demorow">
            <div cherry-col [uiSpan]="24">
                <cherry-breadcrumb>
                    <cherry-breadcrumb-item>
                        Home
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">Application Center</a>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">Application List</a>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        An Application
                    </cherry-breadcrumb-item>
                </cherry-breadcrumb>
            </div>
        </div>
    </cherry-card>
</div>

<div class="cardBox">
    <cherry-card>
        <div cherry-row [uiGutter]="16" class="demorow">
            <div cherry-col [uiSpan]="24">
                <cherry-breadcrumb>
                    <cherry-breadcrumb-item>
                        <i class="fa fa-home"></i>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">
                            <i class="fa fa-user-o"></i>
                            <span>Application List</span>
                        </a>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">Application</a>
                    </cherry-breadcrumb-item>
                </cherry-breadcrumb>
            </div>
        </div>
    </cherry-card>
</div>

<div class="cardBox">
    <cherry-card>
        <div cherry-row [uiGutter]="16" class="demorow">
            <div cherry-col [uiSpan]="24">
                <cherry-breadcrumb [uiSeparator]="'>'">
                    <cherry-breadcrumb-item>
                        Home
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">Application Center</a>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        <a href="">Application List</a>
                    </cherry-breadcrumb-item>
                    <cherry-breadcrumb-item>
                        An Application
                    </cherry-breadcrumb-item>
                </cherry-breadcrumb>
            </div>
        </div>
    </cherry-card>
</div>
