$pagi-bg: #ffffff;
$pagi-page-color:#495057;
$pagi-page-hover:#f4f3f4;
$pagi-page-active-color:#ffffff;
$pagi-page-active-bg:$stateActiveColor;
$pagi-btn-color: #000000;
$pagi-btn-hover-bg:#f4f3f4;
$pagi-font-base: 14px;
$pagi-btn-font-base:16px;
